* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 30%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: grey;
    /* background-image: url(https://images.unsplash.com/photo-1637158893456-928d9642155e?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);  */
    background-position: center 39%;
    /* background-position: left 80%; */
    background-repeat: no-repeat;
    background-size: cover;
}

.timer {
    font-size: 3rem; /* Smaller font size */
    color: #ff7700; /* Changed text color to a bright orange */
    font-weight: bold;
    background-color: rgba(35, 35, 40, 0.7); /* Darker background color */
    width: 50%; /* Reduced timer width */
    text-align: center;
    border-radius: 20px; /* Increased border radius */
    padding: 15px; /* More padding */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Added box shadow for depth */
}

button {
    width: 100px; /* Wider buttons */
    height: 50px; /* Taller buttons */
    margin: 15px; /* Increased margin */
    color: white; /* White text color */
    background-color: green; /* Bright blue background color */
    border: none; /* Removed border */
    border-radius: 25px; /* Rounded buttons */
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Added transition property */
}

button:hover {
    transform: scale(1.1);
}